/* ---ПАЛИТРЫ ЦВЕТОВ--- */

// МОНОХРОМНАЯ
$color-black: #141414;
$color-white: #f9fbfc;
$color-transparent: rgba(0, 0, 0, 0);

$color-gray: #bfbfbf;
$color-dark-gray: #828282;

// ЦВЕТНАЯ
$color-blue: #2e9cb4;
$color-green: #88ab68;
$color-brown: #b18b6c;

/* ---АНИМАЦИИ И ПЕРЕХОДЫ--- */
$tr-default: 0.3s ease-in-out;
$tr-fast: 0.1s ease-in-out;

/* ---КОНТРЛЬНЫЕ ТОЧКИ И АДАПТИВНОСТЬ--- */

// БРЕЙКПОИНТЫ
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-gap: 0.02px;

// МЕДИА-ВЫРАЖЕНИЯ
// ТЕЛЕФОНЫ
$mobile-only: "screen and (max-width: #{$breakpoint-tablet - $breakpoint-gap})";
// ПЛАНШЕТЫ
$tablet-only: "screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
// КОМПЬЮТЕРЫ
$desktop-only: "screen and (min-width: #{$breakpoint-desktop})";
// ИСКЛЮЧЕНИЯ
$not-mobile: "screen and (min-width: #{$breakpoint-tablet})";
$not-desktop: "screen and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";

// СОСТОЯНИЯ
$hover: "(hover: hover)";
