.body {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: $color-black;

  background-color: $color-white;

  &.body--blue {
    .body__container::after {
      background-image: url("../../images/blue-mobile-bg-mask.svg");

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$tablet-only} {
        background-image: url("../../images/blue-tablet-bg-mask.svg");
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$desktop-only} {
        background-image: url("../../images/blue-desktop-bg-mask.svg");
      }
    }
  }

  &.body--green {
    .body__container::after {
      background-image: url("../../images/green-mobile-bg-mask.svg");

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$tablet-only} {
        background-image: url("../../images/green-tablet-bg-mask.svg");
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$desktop-only} {
        background-image: url("../../images/green-desktop-bg-mask.svg");
      }
    }
  }

  &.body--brown {
    .body__container::after {
      background-image: url("../../images/brown-mobile-bg-mask.svg");

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$tablet-only} {
        background-image: url("../../images/brown-tablet-bg-mask.svg");
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$desktop-only} {
        background-image: url("../../images/brown-desktop-bg-mask.svg");
      }
    }
  }

  &.body--gray {
    .body__container::after {
      background-image: url("../../images/gray-mobile-bg-mask.svg");

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$tablet-only} {
        background-image: url("../../images/gray-tablet-bg-mask.svg");
      }

      /* stylelint-disable-next-line max-nesting-depth */
      @media #{$desktop-only} {
        background-image: url("../../images/gray-desktop-bg-mask.svg");
      }
    }
  }

  @media #{$not-mobile} {
    font-size: 24px;
  }
}

.body__container {
  position: relative;

  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -10;

    display: block;
    height: 100%;

    background-position: top center;
    background-repeat: repeat-y;
    background-size: cover;
  }

  @media #{$tablet-only} {
    max-width: 768px;
  }

  @media #{$desktop-only} {
    max-width: 1200px;
  }
}

// .body__header {

// }

// .body__main {

// }

// .body__footer {

// }
