.consult {
  @media #{$desktop-only} {
    position: relative;
    z-index: 2;
  }
}

.consult__description {
  margin: 0 0 24px;

  @media #{$not-mobile} {
    font-size: 18px;
  }

  @media #{$desktop-only} {
    width: 60%;
  }
}

// .consult__form {

// }
