.contacts {
  @include normalize-list;

  @media #{$tablet-only} {
    &.contacts--footer {
      .contacts__item:not(:last-child) {
        margin-bottom: 8px;
      }

      .contacts__link {
        font-size: 18px;
      }
    }
  }
}

.contacts__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  @media #{$tablet-only} {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  font-size: 16px;
  font-weight: 600;
  color: $color-black;
  hyphens: auto;

  transition: color $tr-default;

  @media #{$hover} {
    &:hover {
      color: $color-blue;
      -webkit-text-stroke: 0.5px;
    }
  }

  &:active {
    color: $color-blue;
    -webkit-text-stroke: 0.5px;

    transition: color $tr-fast;
  }

  @media #{$tablet-only} {
    font-size: 24px;
  }
}
