.footer {
  max-width: 300px;
  width: 300px;
  margin: 0 auto 40px;
  padding: 20px 10px;

  background-color: $color-light-gray;
  border-radius: 18px;

  overflow: hidden;

  @media #{$tablet-only} {
    max-width: 728px;
    width: 728px;
    margin: 0 auto 40px;
    padding: 38px 20px 20px;

    border-radius: 24px;
  }

  @media #{$desktop-only} {
    position: relative;
    top: -192px;
    z-index: 0;

    max-width: 1200px;
    width: 1200px;
    margin: 0 auto -192px;
    padding: 30px;

    border-radius: 24px;
  }
}

.footer__decoration-block {
  display: none;

  @media #{$desktop-only} {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 875px;
    height: 232px;

    background-color: $color-white;
    border-radius: 0 0 24px;
  }
}

.footer__decoration {
  position: absolute;
  z-index: 1;
  display: block;

  width: 24px;
  height: 24px;

  border-top-left-radius: 120px;

  box-shadow: -12px -12px 0 12px $color-white;
}

.footer__decoration--top {
  top: 0;
  right: -24px;
}

.footer__decoration--left {
  left: 0;
  bottom: -24px;
}

.footer__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 22px;

  max-width: 100%;

  @media #{$tablet-only} {
    grid-template-columns: 258px repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 60px;
  }

  @media #{$desktop-only} {
    grid-template-columns: 5fr 4fr 3fr;
    align-items: flex-start;
    column-gap: 30px;
  }
}

.footer__logo {
  grid-row: span 2;

  @media #{$tablet-only} {
    grid-row: unset;
  }

  @media #{$desktop-only} {
    grid-row: unset;
    grid-column: 3 / span 1;

    margin-bottom: 90px;
  }
}

.footer__group {
  &.footer__group--navigation {
    margin-bottom: 20px;
  }

  &.footer__group--legal {
    grid-column: 1 / -1;
    margin-bottom: 20px;
  }

  &.footer__group--contacts {
    margin: 0;
  }

  &.footer__group--developer {
    margin: 0;
  }

  @media #{$tablet-only} {
    &.footer__group--navigation {
      grid-row: span 3;
      margin-bottom: 36px;
    }

    &.footer__group--contacts {
      grid-row: span 3;
      margin-bottom: 36px;
    }

    &.footer__group--legal {
      grid-column: 2 / span 2;
      grid-row: 4 / span 2;
    }

    &.footer__group--developer {
      grid-column: 1 / span 1;
      grid-row: 6 / span 1;
      display: inline-flex;
      height: fit-content;
    }
  }

  @media #{$desktop-only} {
    &.footer__group--navigation {
      grid-row: 2 / span 2;
      margin-bottom: 0;
    }

    &.footer__group--contacts {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
      margin-bottom: 0;

      .footer__group-title {
        margin-top: 20px;
      }
    }

    &.footer__group--legal {
      grid-column: 2 / span 1;
      grid-row: 2 / span 3;
    }

    &.footer__group--developer {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
  }
}

.footer__group-title {
  margin: 0 0 10px;

  font-weight: 500;
  font-size: 12px;

  opacity: 0.5;

  @media #{$tablet-only} {
    margin: 0 0 20px;

    font-size: 18px;
  }

  @media #{$desktop-only} {
    margin: 30px 0 20px;

    font-size: 18px;
  }
}

.footer__button {
  grid-column: 1 / -1;
  margin: 20px 0 30px;

  @media #{$tablet-only} {
    grid-column: 1 / 2;
    margin: 25px 0 40px;
  }

  @media #{$desktop-only} {
    grid-column: 3 / span 1;
    margin: 24px 0 0;
  }
}

.footer__social {
  grid-column: 1 / -1;

  @media #{$tablet-only} {
    grid-column: 1 / span 1;
    grid-row: 4 / span 2;
  }

  @media #{$desktop-only} {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
}

.footer__group-subtitle {
  font-size: 12px;

  opacity: 0.6;
}

.footer__group-link {
  &.footer__group-link--developer {
    position: relative;

    display: inline-flex;

    &::after {
      content: "";
      position: absolute;
      inset: auto 0 0;

      display: block;
      height: 1px;

      background-color: $color-black;

      opacity: 0;

      transition: bottom $tr-default, opacity $tr-default;
    }

    @media #{$hover} {
      &:hover::after {
        bottom: -3px;

        opacity: 1;
      }
    }

    &:active {
      opacity: 0.5;

      transition: bottom $tr-fast, opacity $tr-fast;
    }

    @media #{$not-mobile} {
      width: 96px;
      margin-left: 5px;
    }
  }
}

.footer__icon-wrap {
  @media #{$not-mobile} {
    display: flex;
    height: 100%;
    width: auto;
  }
}

.footer__icon {
  width: 100%;
  height: 100%;
}
