.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  width: 320px;
  padding: 13px 10px;

  background-color: $color-white-menu;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;

    background-color: $color-white-menu;
    border-bottom: 1px solid $color-gray;

    transition: opacity $tr-default, visibility $tr-default, background-color $tr-default;
  }

  &.header--menu-open {
    &::before {
      background-color: $color-white;
    }

    .header__menu {
      opacity: 1;

      visibility: visible;
    }

    .header__button-menu {
      width: 30px;
      padding: 0;

      font-size: 0;

      background-color: $color-blue;
      border-color: $color-blue;

      @media #{$hover} {
        &:hover {
          background-color: $color-white;
          border-color: $color-gray;
        }

        &:hover::after,
        &:hover::before {
          background-color: $color-blue;
        }
      }

      &:active {
        background-color: $color-white;
        border-color: $color-gray;
      }

      &:active::after,
      &:active::before {
        background-color: $color-blue;
      }
    }

    .header__button-menu::after,
    .header__button-menu::before {
      width: 14px;
      height: 2px;
    }

    .header__button-menu::after {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    .header__button-menu::before {
      transform: translate(-50%, -50%) rotate(-135deg);
    }
  }

  @media #{$tablet-only} {
    width: 768px;
    padding: 10px 10px 10px 20px;

    &.header--menu-open {
      /* stylelint-disable-next-line max-nesting-depth */
      .header__button-menu {
        width: 40px;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      .header__button-menu::after,
      .header__button-menu::before {
        width: 20px;
        height: 2px;
      }
    }
  }

  @media #{$desktop-only} {
    align-items: flex-start;
    width: 1200px;
    padding: 10px 20px;

    border-bottom: 1px solid $color-gray;

    &::before {
      content: none;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 100;

  @media #{$desktop-only} {
    margin-top: 8px;
    margin-right: 40px;
  }
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;

  display: none;

  @media #{$desktop-only} {
    position: static;
    display: flex;
  }
}

.header__button-wrap {
  position: relative;
  z-index: 100;

  @media #{$not-mobile} {
    display: flex;
    gap: 36px;
  }

  @media #{$desktop-only} {
    gap: 23px;
    margin-left: 40px;
  }
}

.header__button-price {
  display: none;

  @media #{$desktop-only} {
    display: flex;
  }
}

.header__button-phone {
  display: none;

  @media #{$not-mobile} {
    display: flex;
  }
}

.header__button-menu {
  @media #{$desktop-only} {
    display: none;
  }
}
