.hero-slider {
  max-height: 525px;
  height: 525px;

  overflow: hidden;

  border-radius: 0 0 18px 18px;

  @media #{$tablet-only} {
    max-height: 1039px;
    height: 1039px;

    border-radius: 0 0 24px 24px;
  }

  @media #{$desktop-only} {
    max-height: 615px;
    height: 615px;

    border-radius: 0 0 24px 24px;
  }
}

// .hero-slider__content {

// }

.hero-slider__list {
  @include normalize-list;

  display: flex;
  max-width: 100%;
  margin: 0;
}

// .hero-slider__item {

// }

// .hero-slider__pagination {

// }
