.main {
  padding: 44px 0 0;

  @media #{$not-mobile} {
    padding: 60px 0 0;
  }
}

.main__section {
  padding: 0 10px;
  margin-bottom: 60px;

  &.main__section--hero {
    padding: 0;
    margin-bottom: 36px;
  }

  &.main__section--consult {
    margin-bottom: 36px;
  }

  @media #{$not-mobile} {
    padding: 0 20px;
    margin-bottom: 96px;

    &.main__section--hero,
    &.main__section--consult {
      margin-bottom: 48px;
    }
  }

  @media #{$desktop-only} {
    &.main__section--consult {
      margin-bottom: 0;
    }
  }
}

.main__section-title {
  margin: 0 0 24px;

  font-family: $primary-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  color: $color-black;

  &.main__section-title--white {
    color: $color-white;
  }

  @media #{$not-mobile} {
    margin-bottom: 36px;

    font-size: 48px;
  }
}
