.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 68px 10px 10px;

  background-color: $color-white;
  opacity: 0;
  visibility: hidden;

  overflow-y: auto;

  transition: opacity $tr-default, visibility $tr-default;

  @media #{$tablet-only} {
    padding: 157px 20px 30px;
  }

  @media #{$desktop-only} {
    flex-direction: row;
    align-items: center;
    height: auto;
    min-height: 22px;
    padding: 0;
    margin-top: 5px;

    background-color: $color-transparent;
    opacity: 1;
    visibility: visible;
  }
}

.menu__navigation {
  margin: 0 0 48px;

  @media #{$tablet-only} {
    margin-bottom: 120px;
  }

  @media #{$desktop-only} {
    margin: 0;
  }
}

.menu__contacts {
  margin: 0 0 48px;

  @media #{$tablet-only} {
    margin-bottom: 60px;
  }

  @media #{$desktop-only} {
    display: none;
  }
}

.menu__social {
  margin: 0 0 24px;

  @media #{$tablet-only} {
    margin-bottom: 88px;
  }

  @media #{$desktop-only} {
    display: none;
  }
}

.menu__button-price {
  @media #{$desktop-only} {
    display: none;
  }
}
