.navigation {
  &.navigation--footer {
    .navigation__list {
      margin: 0;
    }

    .navigation__item {
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

    .navigation__link {
      font-size: 14px;
    }

    @media #{$tablet-only} {
      .navigation__item {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      .navigation__link {
        font-size: 18px;
      }
    }

    @media #{$desktop-only} {
      .navigation__list {
        justify-content: start;
        gap: 5px 20px;
      }

      .navigation__item {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }

      .navigation__link {
        font-size: 18px;
      }
    }
  }

  @media #{$desktop-only} {
    width: 100%;
  }
}

.navigation__list {
  @include normalize-list;

  margin: 0;

  @media #{$desktop-only} {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
  }
}

.navigation__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media #{$tablet-only} {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media #{$desktop-only} {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.navigation__link {
  font-size: 24px;
  font-weight: 600;
  color: $color-black;
  word-break: break-word;

  transition: color $tr-default;

  &.navigation__link--current {
    color: $color-blue;
    -webkit-text-stroke: 0.5px;

    pointer-events: none;
  }

  @media #{$hover} {
    &:hover {
      color: $color-blue;
      -webkit-text-stroke: 0.5px;
    }
  }

  &:active {
    color: $color-blue;
    -webkit-text-stroke: 0.5px;

    transition: color $tr-fast;
  }

  @media #{$tablet-only} {
    font-size: 48px;
  }

  @media #{$desktop-only} {
    font-size: 16px;
  }
}

.navigation__link-text {
  hyphens: auto;
}
