.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 147px 10px 80px;

  @media #{$tablet-only} {
    padding: 265px 20px 200px;
  }

  @media #{$desktop-only} {
    justify-self: start;
    width: 100%;
    padding: 159px 20px 50px;
  }
}

.not-found-page__title {
  margin: 0 0 12px;

  font-family: $primary-font;
  font-size: 24px;
  font-weight: 600;
  color: $color-black;

  @media #{$not-mobile} {
    margin: 0 0 24px;

    font-size: 60px;
  }
}

.not-found-page__message {
  margin: 0 0 24px;

  @media #{$not-mobile} {
    margin: 0 0 48px;

    font-size: 24px;
  }

  @media #{$desktop-only} {
    max-width: 780px;
  }
}

// .not-found-page__button {

// }
