// .portfolio {

// }

.portfolio__header {
  margin-bottom: 12px;

  @media #{$not-mobile} {
    margin-bottom: 24px;
  }
}

.portfolio__button-wrap {
  display: flex;
  gap: 10px;

  @media #{$not-mobile} {
    gap: 20px;
  }
}

// .portfolio__button-tab {

// }

.portfolio__list {
  @include normalize-list;

  display: none;
  margin: 0 0 12px;

  &.portfolio__list--active {
    display: block;
  }

  @media #{$not-mobile} {
    margin: 0 0 36px;
  }

  @media #{$desktop-only} {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &.portfolio__list--active {
      display: grid;
    }
  }
}

.portfolio__item {
  max-height: 200px;
  height: 200px;

  border-radius: 18px;

  overflow: hidden;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  @media #{$not-mobile} {
    max-height: 393px;
    height: 393px;

    border-radius: 24px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  @media #{$desktop-only} {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

// .portfolio__show-more-button {

// }
