.social {
  @media #{$tablet-only} {
    &.social--footer {
      .social__list {
        gap: 13px;
        margin: 0 0 14px;
      }

      .social__link {
        width: 30px;
        height: 30px;
      }

      .social__notification {
        font-size: 12px;
      }
    }
  }
}

.social__list {
  @include normalize-list;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 10px;

  @media #{$tablet-only} {
    gap: 23px;
    margin: 0 0 12px;
  }
}

// .social__item {

// }

.social__link {
  display: block;
  width: 28px;
  height: 28px;

  background-color: $color-black;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center center;

  transition: background-color $tr-default, opacity $tr-default;

  &:active {
    opacity: 0.5;

    transition: background-color $tr-fast, opacity $tr-fast;
  }

  @media #{$tablet-only} {
    width: 54px;
    height: 54px;
  }
}

.social__notification {
  font-size: 12px;

  opacity: 0.5;

  @media #{$tablet-only} {
    max-width: 385px;

    font-size: 16px;
  }
}
